<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Magic QR Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Escanear
  </ion-button>

  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reiniciar
  </ion-button>

  <video #video [hidden]="!scanActive" widht="100%"></video>
  <canvas #canvas hidden></canvas>
  
  <ion-button expand="full" (click)="stopScan()" color="danger">
    <ion-icon slot="start" name="stop"></ion-icon>
    Detener
  </ion-button>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>

</ion-content>
